# DB related
POSTGRES_USER=root
POSTGRES_PASSWORD=rootpass
POSTGRES_DB=imagedb
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Model related
CLIP_MODEL_NAME=openai/clip-vit-base-patch32
CLIP_MODEL_PATH=/app/models/clip-32

# Image upload
UPLOAD_ROOT="/app/uploads"
MAX_UPLOAD_BATCH_IMAGES=50
MAX_CLIP_BATCH_IMAGES=100
MAX_IMAGE_SIZE_MB=20
