# DB related
POSTGRES_USER=root
POSTGRES_PASSWORD=rootpass
POSTGRES_DB=imagedb
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Model related
CLIP_MODEL_NAME=clip-ViT-B-32
CLIP_MODEL_PATH=/app/models/clip-32
